/* ✅ 匯入你放在 src/assets/fonts 的字型設定 */
@import "../public/fonts/open-huninn.css";

/* ✅ Tailwind 的三大指令 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ 全站預設使用字型 */
body {
  font-family: 'jf-openhuninn', sans-serif;
}
@font-face {
  font-family: 'jf-openhuninn';
  src: url('../public/fonts/jf-openhuninn-2.1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

